header {
    background-image: url(../img/city.jpg);
}

.navbar-default {
    background-color: transparent;
}

.skill_text {
    font-size: 0.6em;
    font-weight: 100;
    letter-spacing: 1px;
}

.orange_skill { 
    color: #ff7f0e;
}

.blue_skill {
    color: #1f77b4;
}

.red_skill {
    color: #d62728;
}

.green_skill {
    color: #2ca02c;
}

.purple_skill {
    color: #9467bd;
}

.portfolio-modal .modal-content {
    padding: 0;
}

@media (max-width: 992px) {
    .navbar-default {
        background-color: #222;
    }
}
.portfolio-modal .modal-content p.item-intro {
    margin-bottom: 0;
}


.divider_1 {
    background: url("../img/web_design.jpg") fixed top center;
}
.divider_2 {
    background: url("../img/lake.jpg") fixed top center;
}

.divider {
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
}