header {
    background-image: url(../img/city.jpg);
}

.navbar-default {
    background-color: transparent;
}

.skill_text {
    font-size: 0.6em;
    font-weight: 100;
    letter-spacing: 1px;
}

.orange_skill { 
    color: #ff7f0e;
}

.blue_skill {
    color: #1f77b4;
}

.red_skill {
    color: #d62728;
}

.green_skill {
    color: #2ca02c;
}

.purple_skill {
    color: #9467bd;
}

.portfolio-modal .modal-content {
    padding: 0;
}

@media (max-width: 992px) {
    .navbar-default {
        background-color: #222;
    }
}
.portfolio-modal .modal-content p.item-intro {
    margin-bottom: 0;
}


.divider_1 {
    background: url("../img/web_design.jpg") fixed top center;
}
.divider_2 {
    background: url("../img/lake.jpg") fixed top center;
}

.divider {
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
}


.action_button{
  background:#2DCA95;
  color:#fff;
  border:none;
  position:relative;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.action_button:hover{
  background:#fff;
  color:#2DCA95;
}
.action_button:before,.action_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #2DCA95;
  transition:400ms ease all;
}
.action_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.action_button:hover:before,.action_button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.mini_button {
    font-size: 14px;
    padding: 6px 12px;
}

.big_button {
    font-size: 20px;
    padding: 24px 48px;
}